<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.permission.mapper.SysCityMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.permission.model.SysCity" >
    <id column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy.id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, city_name, create_date, create_by, last_update_date, last_update_by
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.cityId != null" >
        and city_id = #{params.cityId,jdbcType=VARCHAR}
      </if>
      <if test="params.cityName != null and '' != params.cityName" >
        and city_name = #{params.cityName,jdbcType=VARCHAR}
      </if>
      <if test="params.createDate != null" >
        and create_date = #{params.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.createBy != null" >
        and create_by = #{params.createBy,jdbcType=VARCHAR}
      </if>
      <if test="params.lastUpdateDate != null" >
        and last_update_date = #{params.lastUpdateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.lastUpdateBy != null" >
        and last_update_by = #{params.lastUpdateBy,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_city
    where city_id = #{cityId,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from sys_city
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from sys_city where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from sys_city
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by ${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  
	<select id="selectAllCityByUserId" resultMap="BaseResultMap" parameterType="map">
		SELECT DISTINCT 
		  m.*,
		  rm2.user_id 
		FROM
		  sys_city m 
		  LEFT JOIN 
		    (SELECT 
		      rm.city_id,
		      rm.user_id 
		    FROM
		      sys_user_city rm 
		    WHERE user_id = #{userId, jdbcType=INTEGER}) rm2 
		    ON m.city_id = rm2.city_id  
		ORDER BY m.city_id;
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_city
    where city_id = #{cityId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.permission.model.SysCity" >
    delete from sys_city
    where city_id = #{cityId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ffzx.permission.model.SysCity" >
    insert into sys_city (city_id, city_name, create_date, 
      create_by, last_update_date, last_update_by
      )
    values (#{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy.id,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{lastUpdateBy.id,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.permission.model.SysCity" >
    insert into sys_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.permission.model.SysCity" >
    update sys_city
    <set >
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.permission.model.SysCity" >
    update sys_city
    set city_name = #{cityName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=VARCHAR}
  </update>
</mapper>