<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.promotion.mapper.ActivityGiveMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.promotion.api.dto.ActivityGive" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="give_no" property="giveNo" jdbcType="VARCHAR" />
    <result column="give_title" property="giveTitle" jdbcType="VARCHAR" />
    <result column="id_limit" property="idLimit" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gift_type" property="giftType" jdbcType="CHAR" />
    <result column="commodity_id" property="commodityId" jdbcType="VARCHAR" />
    <result column="commodity_barcode" property="commodityBarcode" jdbcType="VARCHAR" />
    <result column="commodity_code" property="commodityCode" jdbcType="VARCHAR" />
    <result column="limit_count" property="limitCount" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="act_flag" property="actFlag" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="last_update_by" property="lastUpdateBy.id" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="trigger_count" property="triggerCount" jdbcType="INTEGER" />
    <result column="storage_type" property="storageType" jdbcType="CHAR" />
    <result column="preferential_price" property="commodityprice" jdbcType="VARCHAR" />
  
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.give_no, t.give_title, t.id_limit, t.remark, t.gift_type, t.commodity_id, 
    t.commodity_barcode, t.commodity_code, t.limit_count, t.create_date, t.last_update_date, 
    t.act_flag, t.del_flag, t.create_by as 'createBy.id', t.last_update_by as 'lastUpdateBy.id', 
    t.create_name, t.trigger_count, t.storage_type
  </sql>
  <sql id="Base_Column_ListAll" >
    t.id, t.give_no, t.give_title, t.id_limit, t.remark, t.gift_type, t.commodity_id, 
    t.commodity_barcode, t.commodity_code, t.limit_count, t.create_date, t.last_update_date, 
    t.act_flag, t.del_flag, t.create_by as 'createBy.id', t.last_update_by as 'lastUpdateBy.id', 
    t.create_name, t.trigger_count, t.storage_type,d.preferential_price
  </sql>
  <sql id="joins">
     left join cims_db.commodity d on t.commodity_id = d.id 
  </sql> 
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.giveNo != null and '' != params.giveNo" >
        and t.give_no = #{params.giveNo,jdbcType=VARCHAR}
      </if>
        <if test="params.giveSeNo != null and '' != params.giveSeNo" >
        and t.give_no like CONCAT('%', #{params.giveSeNo}, '%')
      </if>
      <if test="params.giveTitle != null and '' != params.giveTitle" >
        and t.give_title like CONCAT('%', #{params.giveTitle}, '%')
      </if>  
      <if test="params.idLimit != null" >
        and t.id_limit = #{params.idLimit,jdbcType=INTEGER}
      </if>
      <if test="params.remark != null and '' != params.remark" >
        and t.remark = #{params.remark,jdbcType=VARCHAR}
      </if>
      <if test="params.giftType != null and '' != params.giftType" >
        and t.gift_type = #{params.giftType,jdbcType=CHAR}
      </if>
      <if test="params.commodityId != null and '' != params.commodityId" >
        and t.commodity_id = #{params.commodityId,jdbcType=VARCHAR}
      </if>
      <if test="params.commodityBarcode != null and '' != params.commodityBarcode" >
        and t.commodity_barcode = #{params.commodityBarcode,jdbcType=VARCHAR}
      </if>
       <if test="params.commoditySeBarcode!= null and '' != params.commoditySeBarcode" >
        and t.commodity_barcode like CONCAT('%', #{params.commoditySeBarcode}, '%')
      </if>
      <if test="params.commodityCode != null and '' != params.commodityCode" >
        and t.commodity_code = #{params.commodityCode,jdbcType=VARCHAR}
      </if>
      <if test="params.commoditySeCode != null and '' != params.ccommoditySeCode" >
        and t.commodity_code like CONCAT('%', #{params.commoditySeCode}, '%')
      </if>
      <if test="params.limitCount != null" >
        and t.limit_count = #{params.limitCount,jdbcType=INTEGER}
      </if>
      <if test="params.createDate != null" >
        and t.create_date = #{params.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.lastUpdateDate != null" >
        and t.last_update_date = #{params.lastUpdateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.actFlag != null and '' != params.actFlag" >
        and t.act_flag = #{params.actFlag,jdbcType=CHAR}
      </if>
      <if test="params.delFlag != null and '' != params.delFlag" >
        and t.del_flag = #{params.delFlag,jdbcType=CHAR}
      </if>
      <if test="params.createBy != null and '' != params.createBy" >
        and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.lastUpdateBy != null and '' != params.lastUpdateBy" >
        and t.last_update_by = #{params.lastUpdateBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createName != null and '' != params.createName" >
        and t.create_name = #{params.createName,jdbcType=VARCHAR}
      </if>
      <if test="params.triggerCount != null" >
        and t.trigger_count = #{params.triggerCount,jdbcType=INTEGER}
      </if>
      <if test="params.storageType != null and '' != params.storageType" >
        and t.storage_type = #{params.storageType,jdbcType=CHAR}
      </if>
       <if test="params.commodityIdList != null and '' != params.commodityIdList" >
         and t.commodity_id in
         <foreach collection="params.commodityIdList " item="item" index="index" 
		open="(" separator="," close=")">#{item}</foreach>
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activity_give t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByCommodityId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activity_give t 
    where t.commodity_id = #{commodityId,jdbcType=VARCHAR}
    and t.act_flag=1 and t.del_flag=0
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from activity_give t 
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from activity_give t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_ListAll" />
    from activity_give t 
    <include refid="joins"/>
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from activity_give
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    delete from activity_give
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <update id="updateDelOrAct" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    update activity_give   
    <set >
	     <if test="actFlag != null" >
	        act_flag = #{actFlag,jdbcType=CHAR},
	    </if>
	    <if test="delFlag != null" >
	        del_flag = #{delFlag,jdbcType=CHAR},
	    </if>
    </set>  
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    insert into activity_give (id, give_no, give_title, 
      id_limit, remark, gift_type, 
      commodity_id, commodity_barcode, commodity_code, 
      limit_count, create_date, last_update_date, 
      act_flag, del_flag, create_by, 
      last_update_by, create_name, trigger_count, 
      storage_type)
    values (#{id,jdbcType=VARCHAR}, #{giveNo,jdbcType=VARCHAR}, #{giveTitle,jdbcType=VARCHAR}, 
      #{idLimit,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{giftType,jdbcType=CHAR}, 
      #{commodityId,jdbcType=VARCHAR}, #{commodityBarcode,jdbcType=VARCHAR}, #{commodityCode,jdbcType=VARCHAR}, 
      #{limitCount,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{lastUpdateDate,jdbcType=TIMESTAMP}, 
      #{actFlag,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, #{createBy.id,jdbcType=VARCHAR}, 
      #{lastUpdateBy.id,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{triggerCount,jdbcType=INTEGER}, 
      #{storageType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    insert into activity_give
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="giveNo != null" >
        give_no,
      </if>
      <if test="giveTitle != null" >
        give_title,
      </if>
      <if test="idLimit != null" >
        id_limit,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="giftType != null" >
        gift_type,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="commodityBarcode != null" >
        commodity_barcode,
      </if>
      <if test="commodityCode != null" >
        commodity_code,
      </if>
      <if test="limitCount != null" >
        limit_count,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="actFlag != null" >
        act_flag,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="triggerCount != null" >
        trigger_count,
      </if>
      <if test="storageType != null" >
        storage_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="giveNo != null" >
        #{giveNo,jdbcType=VARCHAR},
      </if>
      <if test="giveTitle != null" >
        #{giveTitle,jdbcType=VARCHAR},
      </if>
      <if test="idLimit != null" >
        #{idLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="giftType != null" >
        #{giftType,jdbcType=CHAR},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityBarcode != null" >
        #{commodityBarcode,jdbcType=VARCHAR},
      </if>
      <if test="commodityCode != null" >
        #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="limitCount != null" >
        #{limitCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actFlag != null" >
        #{actFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="triggerCount != null" >
        #{triggerCount,jdbcType=INTEGER},
      </if>
      <if test="storageType != null" >
        #{storageType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    update activity_give
    <set >
      <if test="giveNo != null" >
        give_no = #{giveNo,jdbcType=VARCHAR},
      </if>
      <if test="giveTitle != null" >
        give_title = #{giveTitle,jdbcType=VARCHAR},
      </if>
      <if test="idLimit != null" >
        id_limit = #{idLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="giftType != null" >
        gift_type = #{giftType,jdbcType=CHAR},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityBarcode != null" >
        commodity_barcode = #{commodityBarcode,jdbcType=VARCHAR},
      </if>
      <if test="commodityCode != null" >
        commodity_code = #{commodityCode,jdbcType=VARCHAR},
      </if>
      <if test="limitCount != null" >
        limit_count = #{limitCount,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actFlag != null" >
        act_flag = #{actFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="triggerCount != null" >
        trigger_count = #{triggerCount,jdbcType=INTEGER},
      </if>
      <if test="storageType != null" >
        storage_type = #{storageType,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.promotion.api.dto.ActivityGive" >
    update activity_give
    set give_no = #{giveNo,jdbcType=VARCHAR},
      give_title = #{giveTitle,jdbcType=VARCHAR},
      id_limit = #{idLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      gift_type = #{giftType,jdbcType=CHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR},
      commodity_barcode = #{commodityBarcode,jdbcType=VARCHAR},
      commodity_code = #{commodityCode,jdbcType=VARCHAR},
      limit_count = #{limitCount,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      act_flag = #{actFlag,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      trigger_count = #{triggerCount,jdbcType=INTEGER},
      storage_type = #{storageType,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--  数据导出查询，查询主商品信息 -->
  <select id="findGiveListToExport" parameterType="java.util.Map" resultType="com.ffzx.promotion.vo.GiveExportVo">
  	 SELECT 
  	 	give.id AS "id",
		give.give_no AS "giveId",
		give.give_title AS "giveTitle",
		give.commodity_barcode AS "commodityBarcode",
		give.id_limit AS "idLimit",
		give.limit_count as "limitCount",
		com.preferential_price AS "preferentialPrice",
		give.create_name AS "createBy",
		give.create_date AS "createDate",
		give.gift_type as "giftType"
	FROM activity_give give 
	LEFT JOIN cims_db.commodity com ON give.commodity_code = com.code
	WHERE 1=1 
	<include refid="exportCondition" />
  </select>
  
  <!--  数据导出查询，查询优惠券赠品信息 -->
  <select id="findCouponListToExport" parameterType="java.util.Map" resultType="com.ffzx.promotion.vo.CouponExportVo">
	SELECT
		coupon.give_id AS "giveId",
		coupon.coupon_code AS "couponCode",
		coupon.coupon_name AS "couponName",
		coupon.coupon_face AS "couponFace",
		coupon.coupon_limit AS "couponLimit",
		coupon.coupon_num AS "couponNum"
	FROM gift_coupon coupon 
	LEFT JOIN activity_give give ON give.id = coupon.give_id
 	WHERE give.id IS NOT NULL
	<include refid="exportCondition" />
  </select>
    
  <!--  数据导出查询，查询商品赠品信息 -->
  <select id="findGiftListToExport" parameterType="java.util.Map" resultType="com.ffzx.promotion.vo.GiftExportVo">
  	SELECT
		give.id AS "giveId",
		c.commodity_barcode AS "giftCommodityBarcode",
		com2.name AS "commodityName",
		sku.gift_commodity_sku_barcode AS "commoditySkuBarcode",
		sku.gift_limt_count AS "giftLimtCount",
		sku.gift_count AS "giftCount"
	FROM gift_commodity c 
	LEFT JOIN activity_give give ON give.id = c.give_id
	LEFT JOIN cims_db.commodity com2 ON c.commodity_id = com2.id
	LEFT JOIN gift_commodity_sku sku ON c.id = sku.gift_commodity_id
	WHERE give.id IS NOT NULL
	<include refid="exportCondition" />
  </select>
  
  <sql id="exportCondition" >
  	<if test="params.idList!=null and ''!=params.idList">
	AND give.ID in
       <foreach collection="params.idList" open="(" separator="," close=")" item="item">
          '${item}'
       </foreach>
	</if>
  </sql>
  
    <select id="findGiftCouListToExport" parameterType="java.util.Map" resultType="com.ffzx.promotion.vo.GiveExportVo">
  	 SELECT 
		give.give_no AS "giveId",
		give.give_title AS "giveTitle",
		give.commodity_barcode AS "commodityBarcode",
		give.id_limit AS "idLimit",
		give.limit_count as "limitCount",
		coupon.coupon_code AS "couponCode",
		coupon.coupon_name AS "couponName",
		coupon.coupon_face AS "couponFace",
		coupon.coupon_limit AS "couponLimit",
		coupon.coupon_num AS "couponNum",
		give.create_name AS "createBy",
		give.create_date AS "createDate",
		give.gift_type as "giftType"
	FROM activity_give give 
	LEFT JOIN gift_coupon coupon ON give.id = coupon.give_id
	LEFT JOIN coupon_admin admin ON coupon.coupon_id = admin.id
	WHERE 1=1 
	<if test="params.idList!=null and ''!=params.idList">
	AND give.ID in
       <foreach collection="params.idList" open="(" separator="," close=")" item="item">
          '${item}'
       </foreach>
	</if>
  </select>
</mapper>