<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.promotion.mapper.ChoiceShareOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ffzx.promotion.api.dto.ChoiceShareOrder" extends="BaseResultMap" >
    <result column="choice_image" property="choiceImage" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.create_by as 'createBy.id', t.create_name, t.update_date
  </sql>
  <sql id="Blob_Column_List" >
    choice_image
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createBy != null and '' != params.createBy" >
        and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createName != null and '' != params.createName" >
        and t.create_name = #{params.createName,jdbcType=VARCHAR}
      </if>
      <if test="params.updateDate != null" >
        and t.update_date = #{params.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.choiceImage != null and '' != params.choiceImage" >
        and t.choice_image = #{params.choiceImage,jdbcType=LONGVARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from choice_share_order t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from choice_share_order t 
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from choice_share_order t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from choice_share_order t 
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from choice_share_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    delete from choice_share_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    insert into choice_share_order (id, create_by, create_name, 
      update_date, choice_image)
    values (#{id,jdbcType=VARCHAR}, #{createBy.id,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{choiceImage,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    insert into choice_share_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="choiceImage != null" >
        choice_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="choiceImage != null" >
        #{choiceImage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    update choice_share_order
    <set >
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="choiceImage != null" >
        choice_image = #{choiceImage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    update choice_share_order
    set create_by = #{createBy.id,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      choice_image = #{choiceImage,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.promotion.api.dto.ChoiceShareOrder" >
    update choice_share_order
    set create_by = #{createBy.id,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>