<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.promotion.mapper.GiftCommoditySkuMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="gift_commodity_sku_barcode" property="giftCommoditySkuBarcode" jdbcType="VARCHAR" />
    <result column="gift_limt_count" property="giftLimtCount" jdbcType="INTEGER" />
    <result column="gift_count" property="giftCount" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="gift_commodity_skuid" property="giftCommoditySkuid" jdbcType="VARCHAR" />
    <result column="gift_commodity_sku_code" property="giftCommoditySkuCode" jdbcType="VARCHAR" />
    <result column="gift_commodity_id" property="giftCommodityId" jdbcType="VARCHAR" />
    <result column="commodity_attribute_values" property="commodityAttributeValues" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.gift_commodity_sku_barcode, t.gift_limt_count, t.gift_count, t.del_flag, 
    t.price, t.gift_commodity_skuid, t.gift_commodity_sku_code, t.gift_commodity_id
  </sql>
  <sql id="Base_Column_ListALL" >
    t.id, t.gift_commodity_sku_barcode, t.gift_limt_count, t.gift_count, t.del_flag, 
    t.price, t.gift_commodity_skuid, t.gift_commodity_sku_code, t.gift_commodity_id
  </sql>
  
  <sql id="joins">
     left join gift_commodity d on t.gift_commodity_id = d.id 
  </sql> 
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.giveId != null and '' != params.giveId" >
        and d.give_id = #{params.giveId,jdbcType=VARCHAR}
      </if>
      <if test="params.giftCommoditySkuBarcode != null and '' != params.giftCommoditySkuBarcode" >
        and t.gift_commodity_sku_barcode = #{params.giftCommoditySkuBarcode,jdbcType=VARCHAR}
      </if>
      <if test="params.giftLimtCount != null" >
        and t.gift_limt_count = #{params.giftLimtCount,jdbcType=INTEGER}
      </if>
      <if test="params.giftCount != null" >
        and t.gift_count = #{params.giftCount,jdbcType=INTEGER}
      </if>
      <if test="params.delFlag != null and '' != params.delFlag" >
        and t.del_flag = #{params.delFlag,jdbcType=CHAR}
      </if>
      <if test="params.price != null" >
        and t.price = #{params.price,jdbcType=DECIMAL}
      </if>
      <if test="params.giftCommoditySkuid != null and '' != params.giftCommoditySkuid" >
        and t.gift_commodity_skuid = #{params.giftCommoditySkuid,jdbcType=VARCHAR}
      </if>
      <if test="params.giftCommoditySkuCode != null and '' != params.giftCommoditySkuCode" >
        and t.gift_commodity_sku_code = #{params.giftCommoditySkuCode,jdbcType=VARCHAR}
      </if>
      <if test="params.giftCommodityId != null and '' != params.giftCommodityId" >
        and t.gift_commodity_id = #{params.giftCommodityId,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gift_commodity_sku t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_ListALL" />
    from gift_commodity_sku t 
    <include refid="joins"/>
    where 1=1
    <include refid="condition" />
  </select>
  
    <select id="selectByOrder" resultMap="BaseResultMap" parameterType="java.util.Map" >
  
	SELECT
		 a.id, a.gift_commodity_sku_barcode, a.gift_limt_count, a.gift_count, a.del_flag, 
  		 a.price, a.gift_commodity_skuid, a.gift_commodity_sku_code, a.gift_commodity_id,
  		 a.commodity_id as"giftCommodity.id",a.storage_type as "activityGive.storageType",
		a.trigger_count as "activityGive.triggerCount",y.title,y.thumbnail,k.commodity_attribute_values
	FROM
	(
		SELECT 
		<include refid="Base_Column_List" />
		,c.commodity_id,
		g.storage_type,
		g.trigger_count
		FROM gift_commodity_sku t
		LEFT JOIN gift_commodity c on c.id=t.gift_commodity_id
		LEFT JOIN activity_give g on g.id=c.give_id
		where 1=1
		<if test="params.giftCommoditySkuid != null and '' != params.giftCommoditySkuid" >
        and t.gift_commodity_skuid = #{params.giftCommoditySkuid,jdbcType=VARCHAR}
       </if>
       <if test="params.giftCommodityId != null and '' != params.giftCommodityId" >
        and t.gift_commodity_id=#{params.giftCommodityId,jdbcType=VARCHAR}
       </if>
       <if test="params.giveId != null and '' != params.giveId" >
        and g.id=#{giveId,jdbcType=VARCHAR}
       </if>
       <if test="params.delFlag != null and '' != params.delFlag" >
        and t.del_flag = #{params.delFlag,jdbcType=CHAR}
      </if>
		 
	)a
	LEFT JOIN cims_db.commodity y on y.id=a.commodity_id
	LEFT JOIN cims_db.commodity_sku k on k.id=a.gift_commodity_skuid
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from gift_commodity_sku t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from gift_commodity_sku t 
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gift_commodity_sku
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    delete from gift_commodity_sku
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    insert into gift_commodity_sku (id, gift_commodity_sku_barcode, gift_limt_count, 
      gift_count, del_flag, price, 
      gift_commodity_skuid, gift_commodity_sku_code, 
      gift_commodity_id)
    values (#{id,jdbcType=VARCHAR}, #{giftCommoditySkuBarcode,jdbcType=VARCHAR}, #{giftLimtCount,jdbcType=INTEGER}, 
      #{giftCount,jdbcType=INTEGER}, #{delFlag,jdbcType=CHAR}, #{price,jdbcType=DECIMAL}, 
      #{giftCommoditySkuid,jdbcType=VARCHAR}, #{giftCommoditySkuCode,jdbcType=VARCHAR}, 
      #{giftCommodityId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    insert into gift_commodity_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="giftCommoditySkuBarcode != null" >
        gift_commodity_sku_barcode,
      </if>
      <if test="giftLimtCount != null" >
        gift_limt_count,
      </if>
      <if test="giftCount != null" >
        gift_count,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="giftCommoditySkuid != null" >
        gift_commodity_skuid,
      </if>
      <if test="giftCommoditySkuCode != null" >
        gift_commodity_sku_code,
      </if>
      <if test="giftCommodityId != null" >
        gift_commodity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="giftCommoditySkuBarcode != null" >
        #{giftCommoditySkuBarcode,jdbcType=VARCHAR},
      </if>
      <if test="giftLimtCount != null" >
        #{giftLimtCount,jdbcType=INTEGER},
      </if>
      <if test="giftCount != null" >
        #{giftCount,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="giftCommoditySkuid != null" >
        #{giftCommoditySkuid,jdbcType=VARCHAR},
      </if>
      <if test="giftCommoditySkuCode != null" >
        #{giftCommoditySkuCode,jdbcType=VARCHAR},
      </if>
      <if test="giftCommodityId != null" >
        #{giftCommodityId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    update gift_commodity_sku
    <set >
      <if test="giftCommoditySkuBarcode != null" >
        gift_commodity_sku_barcode = #{giftCommoditySkuBarcode,jdbcType=VARCHAR},
      </if>
      <if test="giftLimtCount != null" >
        gift_limt_count = #{giftLimtCount,jdbcType=INTEGER},
      </if>
      <if test="giftCount != null" >
        gift_count = #{giftCount,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="giftCommoditySkuid != null" >
        gift_commodity_skuid = #{giftCommoditySkuid,jdbcType=VARCHAR},
      </if>
      <if test="giftCommoditySkuCode != null" >
        gift_commodity_sku_code = #{giftCommoditySkuCode,jdbcType=VARCHAR},
      </if>
      <if test="giftCommodityId != null" >
        gift_commodity_id = #{giftCommodityId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.promotion.api.dto.GiftCommoditySku" >
    update gift_commodity_sku
    set gift_commodity_sku_barcode = #{giftCommoditySkuBarcode,jdbcType=VARCHAR},
      gift_limt_count = #{giftLimtCount,jdbcType=INTEGER},
      gift_count = #{giftCount,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL},
      gift_commodity_skuid = #{giftCommoditySkuid,jdbcType=VARCHAR},
      gift_commodity_sku_code = #{giftCommoditySkuCode,jdbcType=VARCHAR},
      gift_commodity_id = #{giftCommodityId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>