<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.promotion.mapper.RedpackageGrantMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.promotion.api.dto.RedpackageGrant" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="grant_mode" property="grantMode" jdbcType="CHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="last_update_by" property="lastUpdateBy.id" jdbcType="VARCHAR" />
    <result column="last_update_name" property="lastUpdateName" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="redpackage_id" property="redpackageId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_grant" property="isGrant" jdbcType="CHAR" />
    <result column="redpackagenumber" property="redpackage.number" jdbcType="VARCHAR" />
    <result column="redpackagefack_value" property="redpackage.fackValue" jdbcType="DECIMAL" />
    <result column="redpackagegrant_num" property="redpackage.grantNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.number, t.grant_mode, t.start_date, t.end_date, t.state, t.create_by as 'createBy.id', 
    t.create_name, t.last_update_by as 'lastUpdateBy.id', t.last_update_name, t.last_update_date, 
    t.del_flag, t.redpackage_id, t.name, t.is_grant
  </sql>
  <sql id="Base_Column_List_redpackage" >
    t.id, t.number, t.grant_mode, t.start_date, t.end_date, t.state, t.create_by as 'createBy.id', 
    t.create_name, t.last_update_by as 'lastUpdateBy.id', t.last_update_name, t.last_update_date, 
    t.del_flag, t.redpackage_id, t.name, t.is_grant,
    r.number as "redpackagenumber",r.fack_value  as "redpackagefack_value",r.grant_num  as "redpackagegrant_num"
  </sql>
  
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      
      <if test="params.startGrantDate != null" >
        and t.start_date &lt;= #{params.startGrantDate,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.number != null and '' != params.number" >
        and t.number  like  CONCAT('%', #{params.number}, '%')
      </if>
      <if test="params.grantMode != null and '' != params.grantMode" >
        and t.grant_mode = #{params.grantMode,jdbcType=CHAR}
      </if>
      
      <if test="params.startDateStartStr != null" >
        and t.start_date &gt;= #{params.startDateStartStr,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.startDateEndStr != null" >
        and t.start_date &lt;= #{params.startDateEndStr,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.endDateStartStr != null" >
        and t.end_date &gt;= #{params.endDateStartStr,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.endDateEndStr != null" >
        and t.end_date &lt;= #{params.endDateEndStr,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.fackValuestart != null and '' != params.fackValuestart" >
        and r.fack_value &gt;= #{params.fackValuestart,jdbcType=DECIMAL}<!-- 大于 -->
      </if>
      <if test="params.fackValueend != null and '' != params.fackValueend" >
        and r.fack_value &lt;= #{params.fackValueend,jdbcType=DECIMAL}<!-- 小于 -->
      </if>
      
      <if test="params.lastUpdateDateStartStr != null" >
        and r.last_update_date &gt;= #{params.lastUpdateDateStartStr,jdbcType=TIMESTAMP}
      </if>
      
      <if test="params.lastUpdateDateEndtStr != null" >
        and r.last_update_date &lt;= #{params.lastUpdateDateEndtStr,jdbcType=TIMESTAMP}
      </if>
      <if test="params.startDate != null" >
        and t.start_date = #{params.startDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.endDate != null" >
        and t.end_date = #{params.endDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.state != null and '' != params.state" >
        and t.state = #{params.state,jdbcType=CHAR}
      </if>
      <if test="params.createBy != null and '' != params.createBy" >
        and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createName != null and '' != params.createName" >
        and t.create_name = #{params.createName,jdbcType=VARCHAR}
      </if>
      <if test="params.lastUpdateBy != null and '' != params.lastUpdateBy" >
        and t.last_update_by = #{params.lastUpdateBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.lastUpdateName != null and '' != params.lastUpdateName" >
        and t.last_update_name like  CONCAT('%', #{params.lastUpdateName}, '%')
      </if>
      <if test="params.lastUpdateDate != null" >
        and t.last_update_date = #{params.lastUpdateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.delFlag != null and '' != params.delFlag" >
        and t.del_flag = #{params.delFlag,jdbcType=CHAR}
      </if>
      <if test="params.redpackageId != null and '' != params.redpackageId" >
        and t.redpackage_id = #{params.redpackageId,jdbcType=VARCHAR}
      </if>
      <if test="params.name != null and '' != params.name" >
        and t.name  like  CONCAT('%', #{params.name}, '%')
      </if>
      <if test="params.isGrant != null and '' != params.isGrant" >
        and t.is_grant = #{params.isGrant,jdbcType=CHAR}
      </if>
 	 <if test="params.nowDate != null and '' != params.nowDate" >
       <![CDATA[and now() >=t.start_date and now()<t.end_date]]>
      </if>
      <if test="params.leftReceive != null and '' != params.leftReceive" >
       and r.redpackage_grant_id is  null 
      </if>
     <!--   <if test="params.memberId != null and '' != params.memberId" >
       and r.member_id=#{params.memberId,jdbcType=VARCHAR}
      </if> -->
      <if test="params.orderByField  != null and '' != params.orderByField " >
        order by t.${params.orderByField}  ${params.orderBy}
      </if>
      
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      ,g.number as "redpackage.number",g.name as "redpackage.name",g.fack_value as "redpackage.fackValue",g.receivedate as "redpackage.receivedate"
       ,g.start_date as "redpackage.startDate",g.end_date as "redpackage.endDate",g.grant_num as "redpackage.grantNum"
    from redpackage_grant t 
     left join redpackage g on g.id=t.redpackage_id
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
 <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    <if test="params.package != null and '' != params.package" >
       ,g.number as "redpackage.number",g.name as "redpackage.name",g.fack_value as "redpackage.fackValue",g.receivedate as "redpackage.receivedate"
       ,g.start_date as "redpackage.startDate",g.end_date as "redpackage.endDate",g.grant_num as "redpackage.grantNum"
      </if>
    from redpackage_grant t 
      <if test="params.package != null and '' != params.package" >
        left join redpackage g on g.id=t.redpackage_id
      </if>
       <if test="params.leftReceive != null and '' != params.leftReceive" >
        left join redpackage_receive r on r.redpackage_grant_id=t.id and r.member_id=#{params.memberId,jdbcType=VARCHAR}
      </if>
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from redpackage_grant t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List_redpackage" />
    from redpackage_grant t 
    left join  redpackage r on r.id=t.redpackage_id
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from redpackage_grant
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.promotion.api.dto.RedpackageGrant" >
    delete from redpackage_grant
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.promotion.api.dto.RedpackageGrant" >
    insert into redpackage_grant (id, number, grant_mode, 
      start_date, end_date, state, 
      create_by, create_name, last_update_by, 
      last_update_name, last_update_date, del_flag, 
      redpackage_id, name)
    values (#{id,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{grantMode,jdbcType=CHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{state,jdbcType=CHAR}, 
      #{createBy.id,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{lastUpdateBy.id,jdbcType=VARCHAR}, 
      #{lastUpdateName,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}, 
      #{redpackageId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.promotion.api.dto.RedpackageGrant" >
    insert into redpackage_grant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="grantMode != null" >
        grant_mode,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateName != null" >
        last_update_name,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="redpackageId != null" >
        redpackage_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="grantMode != null" >
        #{grantMode,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateName != null" >
        #{lastUpdateName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="redpackageId != null" >
        #{redpackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.promotion.api.dto.RedpackageGrant" >
    update redpackage_grant
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="grantMode != null" >
        grant_mode = #{grantMode,jdbcType=CHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateName != null" >
        last_update_name = #{lastUpdateName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="redpackageId != null" >
        redpackage_id = #{redpackageId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isGrant != null" >
        is_grant = #{isGrant,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.promotion.api.dto.RedpackageGrant" >
    update redpackage_grant
    set number = #{number,jdbcType=VARCHAR},
      grant_mode = #{grantMode,jdbcType=CHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=CHAR},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      last_update_name = #{lastUpdateName,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      redpackage_id = #{redpackageId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      is_grant = #{isGrant,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>