<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.promotion.mapper.ShareOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.promotion.api.dto.ShareOrder" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="reward_date_no" property="rewardDateNo" jdbcType="VARCHAR" />
    <result column="luck_name" property="luckName" jdbcType="VARCHAR" />
    <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="reward_id" property="rewardId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ffzx.promotion.api.dto.ShareOrder" extends="BaseResultMap" >
    <result column="show_image" property="showImage" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.reward_date_no, t.luck_name, t.receive_address, t.create_by as 'createBy.id', 
    t.create_name, t.update_date, t.reward_id
  </sql>
  <sql id="Blob_Column_List" >
    t.show_image
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.rewardDateNo != null and '' != params.rewardDateNo" >
        and t.reward_date_no = #{params.rewardDateNo,jdbcType=VARCHAR}
      </if>
      <if test="params.luckName != null and '' != params.luckName" >
        and t.luck_name = #{params.luckName,jdbcType=VARCHAR}
      </if>
      <if test="params.receiveAddress != null and '' != params.receiveAddress" >
        and t.receive_address = #{params.receiveAddress,jdbcType=VARCHAR}
      </if>
      <if test="params.createBy != null and '' != params.createBy" >
        and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createName != null and '' != params.createName" >
        and t.create_name = #{params.createName,jdbcType=VARCHAR}
      </if>
      <if test="params.updateDate != null" >
        and t.update_date = #{params.updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.rewardId != null and '' != params.rewardId" >
        and t.reward_id = #{params.rewardId,jdbcType=VARCHAR}
      </if>
      <if test="params.showImage != null and '' != params.showImage" >
        and t.show_image = #{params.showImage,jdbcType=LONGVARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_order t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByRewardId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_order t 
    where t.reward_id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByParams" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_order t 
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from share_order t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from share_order t 
     <if test="params.isReward != null and ''!=params.isReward" >
     	left join reward_manager n on n.id=t.reward_id
     </if>
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     <if test="params.rewardate != null and ''!=params.rewardate" >
     	 order by n.reward_date desc
     </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from share_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    delete from share_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    insert into share_order (id, reward_date_no, luck_name, 
      receive_address, create_by, create_name, 
      update_date, reward_id, show_image
      )
    values (#{id,jdbcType=VARCHAR}, #{rewardDateNo,jdbcType=VARCHAR}, #{luckName,jdbcType=VARCHAR}, 
      #{receiveAddress,jdbcType=VARCHAR}, #{createBy.id,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{rewardId,jdbcType=VARCHAR}, #{showImage,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    insert into share_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rewardDateNo != null" >
        reward_date_no,
      </if>
      <if test="luckName != null" >
        luck_name,
      </if>
      <if test="receiveAddress != null" >
        receive_address,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="rewardId != null" >
        reward_id,
      </if>
      <if test="showImage != null" >
        show_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rewardDateNo != null" >
        #{rewardDateNo,jdbcType=VARCHAR},
      </if>
      <if test="luckName != null" >
        #{luckName,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null" >
        #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardId != null" >
        #{rewardId,jdbcType=VARCHAR},
      </if>
      <if test="showImage != null" >
        #{showImage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    update share_order
    <set >
      <if test="rewardDateNo != null" >
        reward_date_no = #{rewardDateNo,jdbcType=VARCHAR},
      </if>
      <if test="luckName != null" >
        luck_name = #{luckName,jdbcType=VARCHAR},
      </if>
      <if test="receiveAddress != null" >
        receive_address = #{receiveAddress,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardId != null" >
        reward_id = #{rewardId,jdbcType=VARCHAR},
      </if>
      <if test="showImage != null" >
        show_image = #{showImage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    update share_order
    set reward_date_no = #{rewardDateNo,jdbcType=VARCHAR},
      luck_name = #{luckName,jdbcType=VARCHAR},
      receive_address = #{receiveAddress,jdbcType=VARCHAR},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      reward_id = #{rewardId,jdbcType=VARCHAR},
      show_image = #{showImage,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.promotion.api.dto.ShareOrder" >
    update share_order
    set reward_date_no = #{rewardDateNo,jdbcType=VARCHAR},
      luck_name = #{luckName,jdbcType=VARCHAR},
      receive_address = #{receiveAddress,jdbcType=VARCHAR},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      reward_id = #{rewardId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>