<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.order.mapper.PaymentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.order.model.PaymentRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pay_order_no" property="payOrderNo" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="check_count" property="checkCount" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="pay_channel" property="payChannel" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.pay_order_no, t.amount, t.pay_status, t.check_count, t.pay_type, t.pay_channel, 
    t.create_date, t.update_date
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.payOrderNo != null and '' != params.payOrderNo" >
        and t.pay_order_no = #{params.payOrderNo,jdbcType=VARCHAR}
      </if>
      <if test="params.amount != null" >
        and t.amount = #{params.amount,jdbcType=DECIMAL}
      </if>
      <if test="params.payStatus != null and '' != params.payStatus" >
        and t.pay_status = #{params.payStatus,jdbcType=VARCHAR}
      </if>
      <if test="params.checkCount != null" >
        and t.check_count = #{params.checkCount,jdbcType=INTEGER}
      </if>
      <if test="params.payType != null and '' != params.payType" >
        and t.pay_type = #{params.payType,jdbcType=VARCHAR}
      </if>
      <if test="params.payChannel != null and '' != params.payChannel" >
        and t.pay_channel = #{params.payChannel,jdbcType=VARCHAR}
      </if>
      <if test="params.createDate != null" >
        and t.create_date = #{params.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.updateDate != null" >
        and t.update_date = #{params.updateDate,jdbcType=TIMESTAMP}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from payment_record t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from payment_record t 
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from payment_record t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from payment_record t 
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from payment_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.order.model.PaymentRecord" >
    delete from payment_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.order.model.PaymentRecord" >
    insert into payment_record (id, pay_order_no, amount, 
      pay_status, check_count, pay_type, 
      pay_channel, create_date, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{payOrderNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{payStatus,jdbcType=VARCHAR}, #{checkCount,jdbcType=INTEGER}, #{payType,jdbcType=VARCHAR}, 
      #{payChannel,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.order.model.PaymentRecord" >
    insert into payment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payOrderNo != null" >
        pay_order_no,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="checkCount != null" >
        check_count,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="payOrderNo != null" >
        #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkCount != null" >
        #{checkCount,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.order.model.PaymentRecord" >
    update payment_record
    <set >
      <if test="payOrderNo != null" >
        pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkCount != null" >
        check_count = #{checkCount,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.order.model.PaymentRecord" >
    update payment_record
    set pay_order_no = #{payOrderNo,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      check_count = #{checkCount,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>