<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffzx.portal.mapper.PageTabMapper">
  <sql id="Base_Column_List" >
		t.id, 
		t.remarks AS "remarks",
		t.create_by AS "createBy.id",
		t.create_date AS "createDate",
		t.last_update_by AS "lastUpdateBy.id",
		t.last_update_date AS "lastUpdateDate",
		t.del_flag AS "delFlag",
		t.name AS "name",
		t.number AS "number",
		t.page_tab_type AS "pageTabType",
		t.sort AS "sort",
		t.key AS "key",
		t.meta AS "meta",
		t.path AS "path",
		t.static_path AS "staticPath"

  </sql>  
  <sql id="joins">

  </sql> 
  <sql id="condition" >
	<if test="null!=params" >
		<if test="params.id != null and '' != params.id">
			and t.id = #{params.id,jdbcType=VARCHAR}
		</if>
		<if test="params.remarks != null and '' != params.remarks">
			and t.remarks = #{params.remarks,jdbcType=VARCHAR}
		</if>
		<if test="params.createBy != null and '' != params.createBy">
			and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
		</if>
		<if test="params.createDate != null and '' != params.createDate">
			and t.create_date = #{params.createDate,jdbcType=TIMESTAMP}
		</if>
		<if test="params.lastUpdateBy != null and '' != params.lastUpdateBy">
			and t.last_update_by = #{params.lastUpdateBy.id,jdbcType=VARCHAR}
		</if>
		<if test="params.lastUpdateDate != null and '' != params.lastUpdateDate">
			and t.last_update_date = #{params.lastUpdateDate,jdbcType=TIMESTAMP}
		</if>
		<if test="params.delFlag != null and '' != params.delFlag">
			and t.del_flag = #{params.delFlag,jdbcType=VARCHAR}
		</if>
		<if test="params.name != null and '' != params.name">
			and t.name = #{params.name,jdbcType=VARCHAR}
		</if>
		<if test="params.number != null and '' != params.number">
			and t.number = #{params.number,jdbcType=VARCHAR}
		</if>
		<if test="params.pageTabType != null and '' != params.pageTabType">
			and t.page_tab_type = #{params.pageTabType,jdbcType=VARCHAR}
		</if>
		<if test="params.sort != null and '' != params.sort">
			and t.sort = #{params.sort,jdbcType=INTEGER}
		</if>
		<if test="params.key != null and '' != params.key">
			and t.key = #{params.key,jdbcType=VARCHAR}
		</if>
		<if test="params.meta != null and '' != params.meta">
			and t.meta = #{params.meta,jdbcType=VARCHAR}
		</if>
		<if test="params.path != null and '' != params.path">
			and t.path = #{params.path,jdbcType=VARCHAR}
		</if>
		<if test="params.staticPath != null and '' != params.staticPath">
			and t.static_path = #{params.staticPath,jdbcType=VARCHAR}
		</if>
		<if test="params.delFlag == null or '' == params.delFlag or null == params" >
			and t.del_flag = 0
		</if>
	</if>
  </sql>
  
  <select id="selectByPrimaryKey" resultType="com.ffzx.portal.model.PageTab" parameterType="java.lang.String" >
   	select 
    <include refid="Base_Column_List" />
    from portal_page_tab as t 
    <include refid="joins"/>
    where  t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultType="com.ffzx.portal.model.PageTab" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from portal_page_tab as  t 
    <include refid="joins"/>
    where 1=1 
    <include refid="condition"/>
  </select>
  
  <select id="selectCount" resultType="java.lang.Integer" >
   select count(1) as s from portal_page_tab as  t where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultType="com.ffzx.portal.model.PageTab" parameterType="map" >
   select 
    <include refid="Base_Column_List" />
    from portal_page_tab as  t    
    <include refid="joins"/>
    where 1=1      
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by  t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    	DELETE FROM portal_page_tab WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.portal.model.PageTab" >
    	DELETE FROM portal_page_tab WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ffzx.portal.model.PageTab" >
   	INSERT INTO portal_page_tab
		(
			id,
			remarks,
			create_by,
			create_date,
			last_update_by,
			last_update_date,
			del_flag,
			`name`,
			number,
			page_tab_type,
			sort,
			`key`,
			meta,
			path,
			static_path
		) VALUES
		(
			#{id,jdbcType=VARCHAR},
			#{remarks,jdbcType=VARCHAR},
			#{createBy.id,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP},
			#{lastUpdateBy.id,jdbcType=VARCHAR},
			#{lastUpdateDate,jdbcType=TIMESTAMP},
			#{delFlag,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{number,jdbcType=VARCHAR},
			#{pageTabType,jdbcType=VARCHAR},
			#{sort,jdbcType=INTEGER},
			#{key,jdbcType=VARCHAR},
			#{meta,jdbcType=VARCHAR},
			#{path,jdbcType=VARCHAR},
			#{staticPath,jdbcType=VARCHAR}
		)
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.portal.model.PageTab" >
   	INSERT INTO portal_page_tab 
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="id != null">id,</if>
		<if test="remarks != null" >remarks,</if>
		<if test="createBy != null" >create_by,</if>
		<if test="createDate != null" >create_date,</if>
		<if test="lastUpdateBy != null" >last_update_by,</if>
		<if test="lastUpdateDate != null" >last_update_date,</if>
		<if test="delFlag != null" >del_flag,</if>
		<if test="name != null" >`name`,</if>
		<if test="number != null" >number,</if>
		<if test="pageTabType != null" >page_tab_type,</if>
		<if test="sort != null" >sort,</if>
		<if test="key != null" >`key`,</if>
		<if test="meta != null" >meta,</if>
		<if test="path != null" >path,</if>
		<if test="staticPath != null" >static_path,</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
		<if test="id != null">#{id,jdbcType=VARCHAR},</if>
		<if test="remarks != null" >#{remarks,jdbcType=VARCHAR},</if>
		<if test="createBy != null" >#{createBy.id,jdbcType=VARCHAR},</if>
		<if test="createDate != null" >#{createDate,jdbcType=TIMESTAMP},</if>
		<if test="lastUpdateBy != null" >#{lastUpdateBy.id,jdbcType=VARCHAR},</if>
		<if test="lastUpdateDate != null" >#{lastUpdateDate,jdbcType=TIMESTAMP},</if>
		<if test="delFlag != null" >#{delFlag,jdbcType=VARCHAR},</if>
		<if test="name != null" >#{name,jdbcType=VARCHAR},</if>
		<if test="number != null" >#{number,jdbcType=VARCHAR},</if>
		<if test="pageTabType != null" >#{pageTabType,jdbcType=VARCHAR},</if>
		<if test="sort != null" >#{sort,jdbcType=INTEGER},</if>
		<if test="key != null" >#{key,jdbcType=VARCHAR},</if>
		<if test="meta != null" >#{meta,jdbcType=VARCHAR},</if>
		<if test="path != null" >#{path,jdbcType=VARCHAR},</if>
		<if test="staticPath != null" >#{staticPath,jdbcType=VARCHAR},</if>
	</trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.portal.model.PageTab" >
   	UPDATE portal_page_tab
	<set>
		<if test="remarks != null" >
			remarks = #{remarks,jdbcType=VARCHAR},
		</if>
		<if test="createBy != null" >
			create_by = #{createBy.id,jdbcType=VARCHAR},
		</if>
		<if test="createDate != null" >
			create_date = #{createDate,jdbcType=TIMESTAMP},
		</if>
		<if test="lastUpdateBy != null" >
			last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
		</if>
		<if test="lastUpdateDate != null" >
			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
		</if>
		<if test="delFlag != null" >
			del_flag = #{delFlag,jdbcType=VARCHAR},
		</if>
		<if test="name != null" >
			`name` = #{name,jdbcType=VARCHAR},
		</if>
		<if test="number != null" >
			number = #{number,jdbcType=VARCHAR},
		</if>
		<if test="pageTabType != null" >
			page_tab_type = #{pageTabType,jdbcType=VARCHAR},
		</if>
		<if test="sort != null" >
			sort = #{sort,jdbcType=INTEGER},
		</if>
		<if test="key != null" >
			`key` = #{key,jdbcType=VARCHAR},
		</if>
		<if test="meta != null" >
			meta = #{meta,jdbcType=VARCHAR},
		</if>
		<if test="path != null" >
			path = #{path,jdbcType=VARCHAR},
		</if>
		<if test="staticPath != null" >
			static_path = #{staticPath,jdbcType=VARCHAR},
		</if>
	</set>
	where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.portal.model.PageTab" >
   	UPDATE portal_page_tab
		<set>
			remarks = #{remarks,jdbcType=VARCHAR},
			create_by = #{createBy.id,jdbcType=VARCHAR},
			create_date = #{createDate,jdbcType=TIMESTAMP},
			last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
			last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
			del_flag = #{delFlag,jdbcType=VARCHAR},
			`name` = #{name,jdbcType=VARCHAR},
			number = #{number,jdbcType=VARCHAR},
			page_tab_type = #{pageTabType,jdbcType=VARCHAR},
			sort = #{sort,jdbcType=INTEGER},
			`key` = #{key,jdbcType=VARCHAR},
			meta = #{meta,jdbcType=VARCHAR},
			path = #{path,jdbcType=VARCHAR},
			static_path = #{staticPath,jdbcType=VARCHAR}
		</set>
		WHERE id = #{id,jdbcType=VARCHAR} 
  </update>
  
  <select id="selectList" parameterType="java.util.Map" resultType="com.ffzx.portal.model.PageTab">
		SELECT 
			t.id, 
			t.name AS "name",
			t.number AS "number",
			t.sort AS "sort",
			t.key AS "key",
			t.path AS "path",
			t.static_path AS "staticPath",
			t.create_date AS "createDate"
		FROM portal_page_tab t
		ORDER BY t.sort,t.create_date DESC
	</select>
</mapper>